body{
    font-size: 20px;
    font-family: Arial, sans-serif;
}

#container{
    margin : 20px auto;
    background-color: white;
    height: 300px;
    width : 700px;
    position: relative;
}

#start-div{
    font-size: 1.5em;
    width:100%;
    height:50%;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:0px;
    top:50px;
}

#question{
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:50px;
}
#question h1{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
    font-weight: bold;
}

#choices{
    list-style-position:inside;
    width : 480px;
    position: absolute;
    right : 0;
    top : 125px;
}
.choice, .btn{
    width : 135px;
    text-align: center;
    background-color: indigo;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
    color: white;
    font-weight: lighter;
}

.btn{
    margin-left: 40%;
}
.choice:hover, .btn:hover{
    background-color:mediumorchid;
    font-weight: bold;
}

#timer{
    position: relative;
    height : 100px;
    width : 200px;
    bottom : 0px;
    margin-left : 100%;
    text-align: center;
    font-size: 18px;
}

#view-scores{
    position: absolute;
    color: plum;
    height : 100px;
    width : 200px;
    margin-left: 0%;
    top: 0;
    text-align: center;
    font-size: 18px;
}
#result{
    border-top: solid;
    border-color: lightgrey;
    color:lightgrey;
    font-style: italic;
    font-size: 24px;
    width : 100%;
    position: relative;
    margin-top: 35%;
    margin-left: 0%;
    right: 0;
    padding:5px;
    text-align: left;
}


#scoreContainer{
    font-size: 20px;
    width:100%;
    height:100%;
    text-align: center;
    cursor: pointer;
    position: relative;
    left:0px;
    top:10px;
    display: none;
}
#scoreContainer p, #scoreContainer h1{
    position: relative;
    margin-left: 30%;
    display: block;
    font-size: 1.5em;
    text-align: left;
}

.score-list{
    width : 100%;
    position: absolute;
    left : 0;
    top : 125px;
}

.score-item, input{
    list-style-position: inside;
    background-color: plum;
    width : 100%;
    position: relative;
    padding : 5px;
}

#name-form{
margin-top: 0px;
position: relative;
}
